.index__card {
    border: 1px solid black;
    background-color: lightblue;
    margin: 20px;
    padding: 10px;
}

.index__card-content-pic1 {
    float: right;
    aspect-ratio: 1/1;
    height: 125px;
    width: 125px;
    padding-left: 10px;
}

.index__card-content-heading {
    text-align: center;
}

.index__card-content-pic2 {
    float: left;
    height: 125px;
    width: 125px;
    padding-right: 10px;
}

.index__card-content-text {
    text-align: justify;
}

@media screen and (min-width: 44rem) {
    body {
        grid-template-rows: 150px 90% 15px;
    }

    .index__card {
        margin: 20px;
        padding: 10px;
    }

    .index__card-content1 {
        display: flex;
        flex-direction: row-reverse;
    }

    .index__card-content2 {
        display: flex;
        flex-direction: row;
    }

    .index__card-content-pic1 {
        height: 200px;
        width: 200px;
        justify-content: flex-end;
    }

    .index__card-content-pic2 {
        height: 200px;
        width: 200px;
    }

    .index__card-content-div1 {
        flex: 1;
    }

    .index__card-content-div2 {
        flex: 1;
    }
}