.carousel {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.phones__card-content-pic {
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  width: max(30%, 150px);
  /* border-radius: 1rem; */
}

.carousel__button {
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
  background-color: lightblue;
  cursor: pointer;
}

@media screen and (min-width: 44rem) {
  .phones__card-content-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 480px;
  }

  .carousel {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: transparent;
  }
}