.global-nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.global-nav__item {
  padding-bottom: 10px;
}

.global-nav__list--closed {
  display: none;
}

.global-nav__link {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  color: rgb(143, 32, 32);
  font-weight: bolder;
  text-decoration: none;
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid black;

}

.global-nav__link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(139, 62, 0);
}

.global-nav__toggle {
  height: 54px;
  width: 54px;
  margin: auto;
  background-color: rgb(245, 151, 74);

  border: none;
}

@media screen and (min-width: 44rem) {
  .global-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .global-nav__toggle {
    display: none;
  }
}