*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;

  background-color: #C0FFEE;
  background: rgb(170, 236, 232);
  background: linear-gradient(90deg, rgb(248, 245, 178) 0%, rgb(238, 233, 229) 50%, rgba(248, 245, 178) 100%);
  font-family: 'Yeseva One';
  /* font-family: sans-serif; */
}

#root {
  height: 100%;
}